<button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">{{habilitar == true? 'Ocultar': 'Mostrar'}}</button>
<div class="card border-primary mb-3" >
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    
      <table class="table table-bordered table-striped" *ngIf="habilitar == true">
        <thead>
            <tr>
                <th>Id </th>
                <th>Nombre </th>
                <th>Ape llido</th>
                <th>Email</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.createAT}}</td>
            </tr>
        </tbody>
    </table>
    </div>
  